<nav class="navbar navbar-expand-lg bg-light fixed">
  <div class="container-fluid">
    <a class="navbar-brand" href="..">AppShare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
          {% if not user.location.country == '' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'map' %}">SeeMap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'country' %}">ChangeLocation</a>
            </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'country' %}">MapShare</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="">WeatherShare</a>
        </li>
        </ul>
          <div class="g-col-4">You are logged in as: {{ user.username }}</div>
        {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
