 <nav id="navbar" class="navbar">
      <ul>
        {% if request.user.is_authenticated %}
        <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
        <li><a class="nav-link scrollto" href="{% url 'map' %}">Map With All Users</a></li>
        <li><a class="nav-link scrollto" href="{% url 'weather' %}">Weather Of All Users</a></li>
        <li><a class="nav-link scrollto" href="{% url 'country' %}">Pick Your Country</a></li>
        <li><a class="nav-link scrollto" href="{% url 'city' %}">Pick Your City</a></li>
        {% else %}
        <li><a class="nav-link active"  href="{% url 'homepage' %}">Homepage</a></li>
        <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
        <li><a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
 </nav><!-- .navbar -->

