{% extends 'inner-page.html' %}

{% block title %} Login {% endblock %}
{% block content %}


<div id="login-card" class="card">
    <div class="card-body">
        <h2 class="text-center">Login form</h2>
        <br>
        <form action="." method="POST" class="form-inline"> {% csrf_token %}
                <div class="form-group">
                    <input type="username" class="form-control" id="distinction" placeholder="Enter username" name="username">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" id="distinction" placeholder="Enter a password" name="password">
                </div>
                <br>
            {% if not request.user.is_authenticated %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}


            <div class="text-center"> <!-- Wrap the button in a container to center it -->
                <button type="submit" id="buttonSubmit" class="btn btn-primary deep-purple">Submit</button>
            </div>
            <br>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p><!--            <br>-->
<!--            <div id="btn" class="text-center">-->
<!--                <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>-->
<!--                <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>-->
<!--                <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>-->
<!--            </div>-->

             <p id="error-message" class="error-message"></p>

        </form>
    </div>
</div>


{% endblock %}