{% extends 'inner-page.html' %}
{% block title %} City {% endblock %}
{% block content %}

<div id="login-card" class="card">
    <div class="card-body">
        <h2 class="text-center">Type in your city!</h2>
        <br>
        <form action="{% url 'city' %}" method="POST"> {% csrf_token %}
             <input class="form-control" name="city">
            <br>
            <div class="text-center">
            <button type="submit" id="buttonSubmit" class="btn btn-primary deep-purple btn-block ">Save</button>
            </div>
            {% if messages %}
            <br>
            <div class="text-center" >
            <divclass="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>


{% endblock %}

