{% extends 'inner-page.html' %}
{% block title %} Weather {% endblock %}
{% block content %}

<style>
  /* Your existing styles here */

  .user-scroll-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
  }

  .user-container {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    /* Other styles for the container */
  }


  .weather-heading {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #00009C;
    text-transform: uppercase;
  }
</style>
 <div class="weather-heading">Weather of users, from highest to lowest</div>
  <div class="user-scroll-container">
    {% for user, weather_data in weather_data.items %}
    <div class="user-container">
      <h4>{{ user.username }}</h4>
      <img src="https://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather Icon">
      <p>{{ weather_data.city }}</p>
      <p>Temperature: {{ weather_data.temperature }}°C</p>
    </div>
    {% endfor %}
  </div>

{% endblock %}